
.booking-container{
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  max-width: 500px;
}
.label-container {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
}
.label-container span {
  display: flex;
  align-items: end;
  padding-left: 15px;
}

.daterangepicker{
  padding: 20px;
  border:none;
  border-radius: 15px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}
.daterangepicker .applyBtn{
  background-color: #c39f75 !important;
  border: 1px solid #c39f75 !important;
  border-radius: 8px !important;
}

.daterangepicker .applyBtn:hover{
  background-color: #fff !important;
  color:  #c39f75 !important;
}

.daterangepicker th, .daterangepicker td{
  padding: 5px 10px !important;
}

.daterangepicker .in-range{
  background-color: #c39f75 !important;
  color:#fff !important;
}

.start-date, .end-date{
  background-color: #c39f75 !important;
  border-radius: 20px !important;
}

.active.start-date{
  border-radius: 20px 0 0 20px !important;
}
.active.end-date{
  border-radius: 0 20px 20px 0 !important;
}

.date-picker-container input{
  text-align: center;
}
.date-picker-container input:focus{
  outline :none;
}

.daterangepicker .month{
  font-weight: bold !important;
}

.time-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; 
  border-bottom: 1px solid #ccc;
}

.time-picker {
  margin: 0 10px; /* Spacing between time pickers */
}

.time-picker select {
  padding: 8px 10px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}




.ui-datepicker{
  padding: 30px;
  border-radius: 15px;
}
.ui-datepicker-header{
  background-color: transparent;
  border: none;
  height: 40px;
}

.ui-datepicker-calendar td > a{
  padding: 5px 10px !important; 
  font-weight: bold !important;
  text-align: center; 
}
.ui-datepicker-calendar th > span{
  padding: 10px !important; 
  text-align: center; 
}
.ui-icon{
  color: white;
  background-color: transparent;
}



.ui-datepicker-next .ui-icon{
    background-image: url(/images/icons/right-arr.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

}

.ui-datepicker-prev .ui-icon{
    background-image: url(/images/icons/left-arr.svg) !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.ui-datepicker-month{
  border: none;
  font-weight:bold !important;
}


select:focus {
  outline: none;
}


.ui-datepicker-week-end{
  color:#fd406b;
}


.ui-datepicker .ui-state-default {
    background: none;
    border-color: #ddd; 
}


.ui-datepicker .ui-state-default {
    background:#c39f75;
    border :none;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color: #fff;
}

.ui-datepicker table {
    border-spacing: 20px;
}

.ui-datepicker td {
    padding: 5px; 
} 
.ui-state-highlight{
  color:#fd406b;
}

.number-picker-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
}

.number-picker {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.number-picker-btn {
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
}

.number-picker-number {
  padding: 10px 20px;
  min-width: 50px;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
}
.adult img, .child img{
    width: 25px;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover img{
  color: #c39f75 !important;
}


@media screen and (max-width: 768px) {
  .ui-datepicker-calendar td > a{
    padding: 5px 5px !important; 
  }
  .ui-datepicker-calendar th > span{
    padding: 5px !important; 
  }
  
}