.container {
    height: 100%;                
    min-width: 350px;
    padding: 70px 0px 40px 0px;
    display: flex;
    color: #512B1A;
    align-items: center;
    justify-content: center;
}

.payment-form{
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
}

h2 {
    padding: 5px 0;
    margin: 0 0 20px 0;
    background-color: #c39f75;
    width:100%;
    text-align: center;
    color: white;
}

.result-form, form{
    width:100%;
    padding-left: 20px;
    margin: 20px;
}

.container .pay-form input{
    width: 100%;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fd406b;
    outline: none;
    background: transparent;
}
.container .pay-form input:hover, active {
    top: -2px;
    transition: color 0.3s;
}
.container .pay-form input:focus{
    outline: none;
}


.container .pay-form label {
  top: -20px;
  left: 0;
  font-size: 12px;
  color: #c39f75;
}
.container .pay-form select{
    background-color: transparent;
    border: none;
    color: black;
    border-bottom: 1px solid #fd406b;
}

.container .button-container a {
    position: relative;
    display: block;
    margin: 0 auto;
    color: #c39f75;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
}
.messages {
  font-size: 18px;
  color: #c60a0a;
  text-align: center;
  margin: 0 0 20px 0;
}

.container .button-container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.container a input[type="submit"] {
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 0;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: #c39f75;
}

.container .effect:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #B5EBF8FF, 0 0 10px #B5EBF8FF, 0 0 15px #B5EBF8FF, 0 0 20px #B5EBF8FF;
}

.container a span {
    position: absolute;
    display: block;
}

.container a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #c39f75);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.container a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #c39f75);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.container a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #c39f75);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.container a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #c39f75);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}
img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 10px 10px 10px 20px;
    padding: 5px;
    border-radius: 10px;
}

.sub-footer{
    height: 50px;
    background-color: #c39f75;
    margin: 0;
    margin-top: 20px;
}

@media screen and (max-width: 992px) {

    .container{
        overflow-y: auto;
        
    }
    .col-lg-4{
        display:none;
    }
}

