:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #fff;
    --border: .1rem solid rgba(255, 255, 255, .3);
    --text: #512B1A;
    --sub-bg: #e1dfdf;
    --text2: #f46e39;
}

.profile-container {
    margin-top: 80px;
    margin-bottom: 80px;
}
.profile-container .pic-container{
    display:flex;
    justify-content: center;
    align-items: start;
    overflow:hidden;
}
.profile-container .picture-image{
    display:flex;
    justify-content: center;
    overflow: hidden;
}

.profile-container .picture-image img {
    width: 250px;   
    height: 250px;  
    border-radius: 50%;  
    object-fit: cover;   
    border: 2px solid #fff; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
}


.profile-container .username {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--text2);
}

#profile-group {
    margin-bottom: 20px;
}

.profile-container .btn-primary {
    margin-top: 20px;
}
.profile-container .btn-info{
    background-color:#f46e39 !important;
    border: none !important;
}

